
<style>
    img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }

    .center {
      display: block;
      margin-left: 50px;
      margin-right: auto;
    }

    .header {
      padding: 50px;
      text-align: center;
      font-size: 60;
      font-family: Arial;
    }

    .radio {
      width: 20%; 
      display:inline-block;
    }
</style>

<h1 class="header">Update Entry for <%= @entry['username'] %></h1>

<%= form_with scope: :entry, :url => {:action => "update", :id => @entry['id']}, local: true, :method => :put do |form| %>

  <div class=center>  

    <%= form.collection_radio_buttons(:answer, [['Marley', 'Marley'] ,['Fred', 'Fred'], ['George', 'George']], :first, :last) do |b| %>
      <div class="radio">
        <%= b.text %>
        <%= b.label { b.radio_button + image_tag(+b.text+'.jpg') }%>
      </div>
    <% end %>
  
    <p>
      <%= form.submit %>
    </p>
  </div>
<% end %>
 
<%= link_to 'Back', entries_path %>
